# APPLICATION
APP_PORT=

# DATABASE
MONGO_URL=

# AUTH
JWT_SECRET=

JWT_EXPIRE=

REFRESH_TOKEN_SECRET=

REFRESH_TOKEN_EXPIRE=

GMAIL_PASSWORD =

GMAIL_USER=

# SIGN URL

SIGN_URL_SECRET = '' 



BASE_URL = 
BASE_URL = ""

COOKIE_SECRET=
# CLOUDINARY
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
